<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean name="Student" class="SpringCollection.Student" >
            <property name="id" value="1122"/>
            <property name="numbers">
                <list>
                    <value>7896541235</value>
                    <value>7896541235</value>
                    <value>7896541235</value>

                </list>
            </property>
            <property name="Address">
               <set>
                   <value>Pune</value>
                   <value>Mumbai</value>
                   <value>Delhi</value>
               </set>
            </property>
            <property name="course">
              <map>
                  <entry key="java" value= "8months"/>
                  <entry key="python" value= "4months"/>
                  <entry key="C++" value= "5months"/>
              </map>
            </property>
            <property name="props">
                <props>
                    <prop key="Priority1">Higher Priority</prop>
                    <prop key="Priority2">Midium Priority</prop>
                    <prop key="Priority3">Lower Priority</prop>
                </props>
            </property>
        </bean>

</beans>